<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Index of /CTAN/macros/latex/contrib/beamer/base/themes/theme/compatibility</title>
 </head>
 <body>
<h1>Index of /CTAN/macros/latex/contrib/beamer/base/themes/theme/compatibility</h1>
<table><tr><th><img src="/icons/blank.gif" alt="[ICO]"></th><th><a href="?C=N;O=D">Name</a></th><th><a href="?C=M;O=A">Last modified</a></th><th><a href="?C=S;O=A">Size</a></th><th><a href="?C=D;O=A">Description</a></th></tr><tr><th colspan="5"><hr></th></tr>
<tr><td valign="top"><img src="/icons/back.gif" alt="[DIR]"></td><td><a href="/CTAN/macros/latex/contrib/beamer/base/themes/theme/">Parent Directory</a></td><td>&nbsp;</td><td align="right">  - </td></tr>
<tr><td valign="top"><img src="/icons/text.gif" alt="[TXT]"></td><td><a href="beamerthemebars.sty">beamerthemebars.sty</a></td><td align="right">15-Apr-2012 14:04  </td><td align="right">546 </td></tr>
<tr><td valign="top"><img src="/icons/text.gif" alt="[TXT]"></td><td><a href="beamerthemeclassic.sty">beamerthemeclassic.sty</a></td><td align="right">15-Apr-2012 14:04  </td><td align="right">547 </td></tr>
<tr><td valign="top"><img src="/icons/text.gif" alt="[TXT]"></td><td><a href="beamerthemecompatibility.sty">beamerthemecompatibility.sty</a></td><td align="right">15-Apr-2012 14:04  </td><td align="right">823 </td></tr>
<tr><td valign="top"><img src="/icons/text.gif" alt="[TXT]"></td><td><a href="beamerthemelined.sty">beamerthemelined.sty</a></td><td align="right">15-Apr-2012 14:04  </td><td align="right">2.2K</td></tr>
<tr><td valign="top"><img src="/icons/text.gif" alt="[TXT]"></td><td><a href="beamerthemeplain.sty">beamerthemeplain.sty</a></td><td align="right">15-Apr-2012 14:04  </td><td align="right">596 </td></tr>
<tr><td valign="top"><img src="/icons/text.gif" alt="[TXT]"></td><td><a href="beamerthemeshadow.sty">beamerthemeshadow.sty</a></td><td align="right">15-Apr-2012 14:04  </td><td align="right">673 </td></tr>
<tr><td valign="top"><img src="/icons/text.gif" alt="[TXT]"></td><td><a href="beamerthemesidebar.sty">beamerthemesidebar.sty</a></td><td align="right">15-Apr-2012 14:04  </td><td align="right">1.4K</td></tr>
<tr><td valign="top"><img src="/icons/text.gif" alt="[TXT]"></td><td><a href="beamerthemesplit.sty">beamerthemesplit.sty</a></td><td align="right">15-Apr-2012 14:04  </td><td align="right">510 </td></tr>
<tr><td valign="top"><img src="/icons/text.gif" alt="[TXT]"></td><td><a href="beamerthemetree.sty">beamerthemetree.sty</a></td><td align="right">15-Apr-2012 14:04  </td><td align="right">693 </td></tr>
<tr><th colspan="5"><hr></th></tr>
</table>
<address>Apache/2.2.3 (CentOS) Server at www.tex.ac.uk Port 80</address>
</body></html>
